DB_USER=postgres
DB_DATABASE=enem_prep_db
DB_PASSWORD=
DB_PORT=5432
DB_HOST=localhost

DB_LANGUAGES_ID=
DB_SOCIAL_SCIENCES_ID=
DB_NATURAL_SCIENCES_ID=
DB_MATH_ID=
DB_POSTED_BY_ID=f1181460-9376-4bb7-9e3a-b4130fd17bf8